@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{
    --color-white: bsl(252,30%,100%);
    --color-light: bsl(252,30%,95%);
    --color-gray: bsl(252,15%,65%);
    --color-primary: bsl(252,75%,60%);
    --color-secondary: bsl(252,100%,90%);
    --color-success: bsl(120,95%,65%);
    --color-danger: bsl(0,95%,65%);
    --color-dark: bsl(252,30%,17%);
    --color-black: bsl(252,30%,10%);

    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2 rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;
}

*,
*::before,
*::after{
    margin: 0;
    padding:0;
    outline:0;
    box-sizing:border-box;
    text-decoration:none;
    list-style:none;
    border:none;
}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--color-dark);
    background: var(--color-light);
    overflow-x:hidden;
}

.container{
    width:80%;
    margin: 0 auto;
}

.profile-photo{
    width: 2.7rem;
    aspect-ratio:1/1;
    border-radius:50%;
    overflow:hidden;
}

img{
    display:block;
    width:100%;
}

.btn{
    display:inline-block;
    padding:var(--btn-padding);
    font-weight:500;
    border-radius:var(--border-radius);
    cursor:pointer;
    transition:all 300ms ease;
    font-size:0.9rem;
}

.btn:hover{
    opacity:0.8;
}

.btn:primary{
    background: var(--color-primary);
    color:white;
}

